body {
	background-color:#eeeeee;
	color: #595959;
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	color:#bbb;
	font-weight:bold;
	font-size: 40px;
	margin: 0;
}
ul {
	list-style-position: inside;
}
img {
	width: 500px;
}
.text_on_image {

	background-color: black;
	padding: 200px;
	opacity: 0.4;
}
.text_on_image p {
	color:#595959;
	text-align: left;
}
#hero_image {
	background: url("../images/flower_pot.jpg");
	background-repeat: no-repeat;
	background-size: 500px;
	background-position: center; 
	width:400px;
}
#slogan {
	font-style: italic;
}
#wrapper {
	width:1000px;
	margin: 0 auto;
	background-color: #ccc;
}