body {
	background-color:#eeeeee;
	color: #595959;
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	color:#bbb;
	font-weight:bold;
	font-size: 40px;
	margin: 0;
}
ul {
	list-style-position: inside;
}
img {
	width: 500px;
}
.text_on_image {
	padding: 250px 230px 0px 10px ;

}
.text_on_image p {
	background-color: black;
	opacity: 0.5;
	color:#fff;
	font-family: arial;
	font-size: 25px;
	text-align: left;
	padding: 10px 10px;


}
#hero_image {
	background: url("../images/flower_pot.jpg") no-repeat center center; 
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	width:500px;
	height: 375px;
	margin: 0 auto;
}
#slogan {
	font-style: italic;
}
#wrapper {
	width:1000px;
	margin: 0 auto;
	background-color: #ccc;
}