@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/* Questions:
	.contentwrapper  { width: auto; } <- is this a proper way to do it? It totally crashes if I type 100% instead.
	#logo { display: inline-block; } doesn't work when resizing it back from mobile to tablet.
	<hr> ok in unordered list in nav?

To do:
- apply golden ratio everywhere
*/


body {
	font-family: Lato, sans-serif;
	font-size: 16px;
	color:#595959;

	/*	background-position: 0px 0px;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size:cover;
*/
}
#hero_image{
	height: 400px;
	position: relative;
	background: url("../images/box.png") no-repeat center center;
	background-size: contain;
}
.hero_image_bg_color {
	background-color: #DDCBC3;
}
a {
	font-family: inherit;
}
nav {
	float:right;
}
nav ul hr, .text_column_home hr {
	display: none;
}
nav ul {
	list-style: none;
}
nav li {
	display: block;
	float: left;
}
nav li a, nav li p {
	color:#595959;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 63px 28px 21px;
}
nav li p {
	background-color: #1abc9c;
	color: #fff;
}	
nav li a:hover {
	background-color: #F2F2F2;
}

.pagewrapper {
	width: 100%;
}
.contentwrapper  {
	width: 1000px;
	margin: 0 auto;
	padding: 0 1.25em;
	overflow: auto;
}
.gray_bg {
	background-color: #eee;
}
.text_column_home, #text_column_footer {
	box-sizing: border-box;
	color:#595959;
	float: left;
	width: 33.333%;
	padding: 20px 25px 0;
	line-height: 1.5em;
	text-align: justify;
}
#more_categories {
	text-align: center;
}
#more_categories p {
	display: inline-block;
	padding: 5% 20%;
	border: 2px solid #1abc9c;
	margin: 2em;
	color:#16a085;
	font-size: 1.4em;
	text-decoration: none;
}
.section_image {
	text-align: center;
	margin: 0.6em 0 1.618em;
}
.section_image img {
	width: 65%;
}
.text_column_home h1, #text_column_footer h1 {
	font-size: 1.4em;
	margin-bottom: 5px;
	font-weight: bold;
	display: inline-block;
	padding-bottom: 7px;
}
#hero_image_textbox_small {
	display: none;
}

#top_banner {
	margin-bottom: 1.25em;
}
#social_icons {
	float:right;
	margin-right: 40px;
	margin-top: 40px;
}
#social_icons img {
	width: 30px;
	margin: 0 5px;
}



#hero_image_textbox {
	position: absolute;
	bottom: 3%;
	right: 3%;
	background-color: rgba(255,255,255,.3);
	padding: 2%; 
	margin: 3%;
	width: 350px;
/*
	position: absolute;
	bottom: 50px;
	right: 40px;
	background-color: rgba(255,255,255,.3);
	padding: 20px; 
	width: 350px;
*/
}
#hero_image_textbox h1, #hero_image_textbox_small h1 {
	color:#595959;
	font-size: 1.4em;
	margin-bottom: 5px;
	font-weight: bold;
	display: inline-block;
	padding-bottom: 7px;
}
#hero_image_textbox p, #hero_image_textbox_small p {
	color:#595959;
	font-family: Georgia, serif;
	font-size: 0.9em;
	margin-bottom: 10px;
	line-height: 1.5em;
}
#hero_image_link {
		text-align: center;
		float: right;
		padding: 1em 1em;
		margin: 0.7em 0 0;
		background-color: #C0392B;
		color:#fff;
		font-size: 1em;
		text-decoration: none;
}
#hero_image_link:hover, #hero_image_link:active {
	background-color: #e74c3c;
}
/* #hero_image_textbox #hero_image_link a { */
#hero_image_link a {

}
#logo {
	display: inline-block;
	font-family: Raleway;
	font-size: 2em;
	padding-top: 57px;
}
#middle_section {
	margin: 2em 0 0;
}
#middle_section p {
	font-family: Georgia;
	font-size: 0.9em;
}
#footer_section {
	margin: 2em 0;
}
#footer_section p {
	font-family: Georgia;
	font-size: 0.9em;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
	label, #menu-toggle {
	  display: none; 
	}
	

/* ------------------------------------------------- TABLET ------------------------------------------------- */
@media only screen and (max-width: 1034px) {
	.contentwrapper  {
		width: auto;
	}
	#hero_image_textbox {
		bottom: 0;
		right: 0;
		padding: 2%; 
		margin: 2%;
		width: 300px;
	}
	#hero_image{
		height: 300px;	
	}
	nav li a, nav li p {
		padding: 33px 28px 15px;
	}

	#logo {
		display: inline-block;
		font-size: 1.7em;
		padding-top: 27px;
	}

}

/* ------------------------------------------------- PHONE ------------------------------------------------- */
@media only screen and (max-width: 722px) {
	body {
		font-size: 14px;
	}
	#logo {
		font-size: 1.7em;
		text-align: center;
		padding-top: 0.7em;
		display: block;
	}
	nav {
		display: block;
		float: none;
		text-align: center;
		padding: 0.7em 0 0;
	}
	nav ul hr, .text_column_home hr {
		display: block;
		border: 0;
		height: 1px;
		background-color: #ccc;
	}
	.text_column_home hr {
		margin-top: 1.628em;
	}
	nav li {
		display: block;
		float: none;
		text-align: center;
	}
	nav li a, nav li p {
		display: block;
		padding: 1em 0;
	}	
	nav li a:active {
		background-color: #F2F2F2;
	}
	
	
	.contentwrapper  {
		padding: 0;
	}
	
	
	#hero_image {
		display: none;
	}	
	#hero_image_textbox_small {
		display: block;
		padding: 0 5% 0.7em;
	}	
	#hero_image_textbox_small img {
		width: 100%;
		padding: 0 0 1em;
	}
	#hero_image_textbox_small p {
		margin: 0;
	}
	label, #menu-toggle {
	  display: block; 
	}
	label {
	  cursor: pointer;
		padding: 0.3em 0 0.2em;
		font-size: 1.1em;
	}
	#menu-toggle {
	  display: none; /* hide the checkbox */
	}
	#menu {
	  display: none;
	}
	#menu-toggle:checked + #menu {
	  display: block;
	}

	
	
	
		
	.text_column_home, #text_column_footer {
		float: none;
		width: 100%;
	}

	#footer_section {
		margin: 0;
		padding: 5%;
	}
	#text_column_footer, #social_icons {
		float: none;
		padding: 0;
		width: 100%;
		margin: 0;
	}
	 #social_icons {
		margin-top: 1em;
		text-align: right;
	}
}