@import url(http://fonts.googleapis.com/css?family=Lato);
/* 
Questions
- How can I close the gap between the nav elements.
- Set the font family with the universal selector (I tried it - see below - but it doesn''t work).
- usage of #hero_image_textbox #hero_image_link a 
- Resource for free and license-free icons, e.g. for LinkedIn, FB,
- Problem with section and footer formatting / inline divs still for formatting necessary?

*/

* {
	font-family: Lato, sans-serif;
}

header {
	margin-bottom: 40px;
}
nav {
	float:right;
}
nav ul {
	list-style: none;
}
nav li {
	display: inline-block;
	/* background-color: red;*/
}
nav li a, nav li p {
	color:#595959;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 63px 28px 21px;
	font-family: Lato, sans-serif;
}
nav li p {
	background-color: #ddd;
}	
nav li a:hover {
	background-color: #faf7ac;
}

.text_column_home, #text_column_footer {
	box-sizing: border-box;
	font-family: Lato, sans-serif;
	color:#595959;
	float: left;
	width: 33.333%;
	padding: 20px;
	line-height: 1.5em;
}
.text_column_home h1, #text_column_footer h1 {
	font-size: 1.4em;
	margin-bottom: 20px;
	font-weight: bold;
}
#social_icons {
	float:right;
	margin-right: 40px;
	margin-top: 40px;
}
#social_icons img {
	width: 30px;
	margin: 0 5px;
}

#hero_image{
	background: url("../images/city.svg") no-repeat left center; 
	height: 400px;
	position: relative;
}
#hero_image_textbox {
	position: absolute;
	bottom: 50px;
	right: 40px;
	background-color: rgba(100%,100%,100%,.3);
	padding: 20px; 
	width: 350px;
}
#hero_image_textbox h1 {
	color:#595959;
	font-family: Lato, sans-serif;
	font-size: 1.4em;
	margin-bottom: 20px;
	font-weight: bold;
}
#hero_image_textbox p {
	color:#595959;
	font-family: Georgia, serif;
	font-size: 0.9em;
	margin-bottom: 10px;
	line-height: 1.5em;
}
#hero_image_link {
	text-align: right;
}
/* #hero_image_textbox #hero_image_link a { */
#hero_image_link a {
	color:#595959;
	font-family: Lato, sans-serif;
	font-size: 1.1em;
	text-decoration: none;
}
#hero_image_link a:hover {
	border-bottom: 5px solid #faf7ac;
	font-weight: bold;
}
#logo {
	width: 110px;
	float: left;
	margin-top: 30px;
}
.pagewrapper {
	width: 100%;
}
.contentwrapper  {
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	/* background-color: green;*/
}
.gray_bg {
	background-color: #eee;
}
#middle_section {
	margin: 40px 0;
}
#middle_section p {
	font-family: Georgia;
	font-size: 0.9em;
}
#footer_section {
	padding: 40px 0;
}
#footer_section p {
	font-family: Georgia;
	font-size: 0.9em;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

