@import url(http://fonts.googleapis.com/css?family=Lato);
/* 
Questions
- How can I close the gap between the nav elements.
- Set the font family with the universal selector (I tried it - see below - but it doesn''t work).

*/

* {
	font-family: Lato, sans-serif;
}

header {
	margin-bottom: 40px;
}
nav {
	float:right;
}
nav ul {
	list-style: none;
}
nav li {
	display: inline-block;
	/* background-color: red;*/
}
nav li a, nav li p {
	color:#595959;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 63px 28px 21px;
	font-family: Lato, sans-serif;
}
nav li p {
	background-color: #ddd;
}	
nav li a:hover {
	background-color: #eee;
}

section {

}
section p {
}
#hero_image{
	background: url("../images/city.svg") no-repeat left center; 
	/* background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size:cover; */
	height: 400px;
	position: relative;
}
#hero_image_textbox {
	position: absolute;
	bottom: 50px;
	right: 40px;
	background-color: rgba(100%,100%,100%,.3);
	padding: 20px; 
	width: 350px;
}
#hero_image_textbox h1 {
	color:#595959;
	font-family: Lato, sans-serif;
	font-size: 1.4em;
	margin-bottom: 20px;
	font-weight: bold;
}
#hero_image_textbox p {
	color:#595959;
	font-family: Georgia, serif;
	font-size: 0.9em;
	margin-bottom: 10px;
	line-height: 1.5em;
}
#hero_image_textbox a {
	color:#595959;
	font-family: Lato, sans-serif;
	font-size: 1.1em;
	display:inline-block;
	text-align: right;
	
}
#logo {
	width: 110px;
	float: left;
	margin-top: 30px;
}
.pagewrapper {
	width: 100%;
}
.contentwrapper  {
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	/* background-color: green;*/
}
.gray_bg {
	background-color: #eee;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

