@import url(http://fonts.googleapis.com/css?family=Lato);
/* 
Questions
- How can I close the gap between the nav elements.


*/
header {
	margin-bottom: 40px;
}
nav {
	float:right;
}
nav ul {
	list-style: none;
}
nav li {
	display: inline-block;
	/* background-color: red;*/
}
nav li a, nav li p {
	color:#595959;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 63px 28px 21px;
	font-family: Lato, sans-serif;
}
nav li p {
	background-color: #ddd;
}	
nav li a:hover {
	background-color: #eee;
}

section {

}
section p {
}
#hero_image{
	background: url("../images/city.svg") no-repeat center center; 
	/* background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size:cover; */
	height: 400px;
	position: relative;
}
#hero_image img {
	width: 600px;
}
#logo {
	width: 110px;
	float: left;
	margin-top: 30px;
}
.pagewrapper {
	width: 100%;
}
.contentwrapper  {
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	/* background-color: green;*/
}
.gray_bg {
	background-color: #eee;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

